includes:
    - phpstan-baseline.neon

parameters:
  parallel:
      # Don't be overly greedy on machines with more CPU's to be a good neighbor especially on CI
#      maximumNumberOfProcesses: 4

#  level: 3
#  ignoreErrors:
#      - message: '#Variable \$_EXTKEY might not be defined#'
#        path: '*/ext_emconf.php'
